
{% extends 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

</head>

<body>
  <center>
    <h1>Forgot Password</h1>
    {% if msg %}
    <b style="color:rgb(27, 27, 190);">{{msg}}</b>
    {% endif %}
    <form name="login" method="post" action="{% url 'forgot-password' %}">
      {% csrf_token %}
      <table>
        <tr>
          <td>Email</td>
          <td><input type="text" name="email"></td>
        </tr>

       
        <tr>
          <td align="center">
            <input type="submit" name="action" value="Send OTP" class="btn btn-primary">
          </td>
          
        </tr>
      </table>
    </form>
  </center>
</body>

</html>
{% endblock %}