{% extends 'header.html' %}
{% block content%}
    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Document</title>
</head>
<body>
    
    <center>
        <h1>Welcome To My Sign Up Page</h1>
        {% if msg %}
        <b style="color: green;">{{msg}}</b>
        {% endif %}
        <form action="{% url 'signup' %}" name="contact" method="post"></form>
        {% csrf_token %}
        <table>
            <tr>
                <td>First Name</td>
                <td><input type="text" name="fname" id=""></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><input type="text" name="lname" id=""></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" name="email" id=""></td>
            </tr>
            <tr>
                <td>Mobile</td>
                <td><input type="text" name="mobile" id=""></td>
            </tr>
            <tr>
                <td>Addresss</td>
                <td><textarea name="address" id="" cols="21" rows="5"></textarea></td>
            </tr>
            <tr>
                <td>Gender</td>
                <td><input type="radio" name="gender" id="" value="male">Male
                    <input type="radio" name="gender" id="" value="female">Female
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password" id=""></td>
            </tr>
            <tr>
                <td>Confirm Password</td>
                <td><input type="password" name="cpassword" id=""></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" name="action" id="" value="Sign Up" class="btn btn-primary"></td>
            </tr>
        </table>
    </center>
</body>
</html>
{% endblock %}